<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head th:text-align = "center" th:replace="fragments :: page_head('PetTaming-Main')">		
       
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
    </head>	
	<body>	   
		<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">PetTaming Userlist</h1>
                </div>
            </div>
        </header>
         <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" th:fragment="menu">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" th:href="@{/MainPage/home}">Pet Taming</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
						<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/MainPage/admin/Graph}">통계 그래프</a></li>
						<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/MainPage/admin/User}">유저 관리</a></li>
						<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/MainPage/admin/Animal}">펫 관리</a></li>
                        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				             <input type="submit"/>
				        </form>
                       <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href = "@{/MainPage/User/Mypage}"sec:authentication="principal.name"></a></li>
                        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				             <input type="submit"/>
				        </form>
				  	   <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/logout}" >로그아웃</a></li>
                   </ul>
                </div>
            </div>
        </nav>  
        <table class="table table-striped">
           <thead class="thead-dark">
            <tr>
              <th scope="col" style="width: 10%">번호</th>
              <th scope="col">동물 도트</th>
              <th scope="col" style="width: 10%">이름</th>
              <th scope="col" style="width: 15%"></th>
              <th scope="col" style="width: 15%">수정</th>
              <th scope="col" style="width: 15%">삭제</th>     
              <th scope="col" style="width: 15%">이메일</th>
              <th scope="col" style="width: 15%">수정</th>
              <th scope="col" style="width: 15%">삭제</th>             
             </tr>
           </thead>
  
          <tbody>
           <tr th:each="Userlist : ${Userlist}">
             <td th:text="${Userlist.user_id}"></td>
             <td><img th:src= "@{${Userlist.photosImagePath}}" style = "width: 100px;"/></td>
             <td th:text="${Userlist.username}"></td>
             <td th:text="${Userlist.email}"></td>
             <td><a th:href="@{'/MainPage/User/update/admin/' + ${Userlist.user_id}}" title = "Update This User">UPDATE</a></td>
             <td><a class = "fa-solid fa-trash fa-2x icon-silver link-delete" title = "Delete this User" th:href="@{'/MainPage/User/delete/admin/' + ${Userlist.user_id}}"
             th:userId = "${Userlist.user_id}">DELETE</a></td>
          </tr>
          </tbody> 
        </table>
                       
	<nav>
		<ul class = "pagenation justify-content-center" id = "userpage">
			<li th:class = "${currentPage != 1 ? 'page-Item active' : 'page-item'}">
				<a class = "page-link" th:href = "@{/MainPage/Admin/table/page/1}">First</a>
			</li>
			<li th:class = "${currentPage > 1 ? 'page-Item' : 'page-item disabled'}">
				<a class = "page-link" th:href = "@{'/MainPage/Admin/table/page/' + ${currentPage-1}}">Previous</a>
			</li>
			<li th:class = "${currentPage != i ? 'page-Item' : 'page-item active'}"
			     th:each = "i : ${#numbers.sequence(1,totalPages)}">
				<a class = "page-link" th:href = "@{'/MainPage/Admin/table/page/' + ${i}}">[[${i}]]</a>
			</li>
			<li th:class = "${currentPage < totalPages ? 'page-Item' : 'page-item disabled'}">
				<a class = "page-link" th:href = "@{'/MainPage/Admin/table/page/' + ${currentPage+1}}">Next</a>
			</li>
			<li th:class = "${currentPage != totalPages ? 'page-Item active' : 'page-item'}">
				<a class = "page-link" th:href = "@{'/MainPage/Admin/table/page/' + ${totalPages}}">Last</a>
			</li>
		</ul>
	</nav>
	   <br></br>
		<div class = "text-center m-1" th:if = "${totalItems} > 0">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class = "text-center m-1" th:unless = "${totalItems > 0}">
			<span>No users found</span>
		</div>		
  		
	  <div th:replace="fragments :: footer"></div>
          <div class="modal fade text-center" id="modalDialog">
               <div class="modal-dialog">
				 <div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Warning</h4>
						 <button type="button" class="close" data-dismiss="moadl">&times;</button>
					</div>
						<div class="modal-body">
							<span id="modalBody"></span>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>			
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>					
	</body>
</html>