<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head th:replace="fragments :: page_head('PetTaming-Main')" />

<body>
	<div th:replace="navigation :: menu"></div>
	
	<header class="mastheader">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">검색 기능도 사용해보세요!</h1>
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" placeholder="Search Text" data-sb-validations="required,email" />
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Search</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
           <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">제목 : [[${getPost.title}]]</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Pet Taming Since 2023.03.01...</div>
                            <!-- Post categories-->
                            <p class="badge bg-secondary text-decoration-none link-light"> [[${getPost.user_id.username}]]</p>
                            <p class="badge bg-secondary text-decoration-none link-light"> 펫을 키워보자</p>
                        </header>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">[[${getPost.content}]]</p>
                            <button th:if="${getPost.user_id == Posted.user_id}" type = "button" title = "게시글 수정 ">
								<a th:href = "@{'/MainPage/Post/update/user/' + ${getPost.post_id}}">수정</a></button>
                            <button th:if="${getPost.user_id == Posted.user_id}" type = "button" title = "게시글 삭제">
								<a th:href = "@{'/MainPage/Post/delete/user/' + ${getPost.post_id}}">삭제</a></button>      
                        </section>
                    </article>
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">							
                                <form class="mb-4" th:action="@{'/MainPage/Comment/save/' + ${getPost.post_id}}" method="POST" th:object="${Comment}">
									<textarea class="form-control" rows="3" placeholder="댓글을 작성해주세요." th:field="*{comments}"></textarea>
									<button id = "comment-btn-save" type = "submit" class = "btn btn-dark mt-3">등록</button>
					                <input type = "hidden" th:field = "*{user}"/>
					                <input type = "hidden" th:field = "*{posts}"/>
					                <input type = "hidden" th:field = "*{comment_id}"/>
								</form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4" th:each="Comments : ${ALLComment}">									
                                    <!-- Parent comment-->
                                   <div class="flex-shrink-0">
									   <img class="rounded-circle" th:src= "@{${Comments.user.photosImagePath}}" alt="..." style = "width: 50px;" /></div>
                                      <div class="ms-3">
                                        <div class="fw-bold">작성자: [[${Comments.user.username}]]
											<button th:if="${Comments.user == Commented.user}" id = "fixbtn"><a th:href = "@{'/MainPage/comment/update/' + ${getPost.post_id}}">수정</a></button>
                                            <button th:if="${Comments.user == Commented.user}" id = "deletebtn"><a th:href = "@{'/MainPage/comment/delete/' + ${Comments.comment_id}}">삭제</a></button>                                      
											<br>
											[[${Comments.comments}]]										                                 
                                        </div>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
              <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search post.." aria-label="Enter search post.." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">검색</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">게시판 이용 팁</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><b>자유로운 소통 공간</b></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><b>일상 공유</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">이용 원칙</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><b>욕설 및 비방 금지</b></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><b>음란물 배포 금지</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">오늘 날짜</div>
                        <div class="card-body">[[${getPost.now}]]</div>
                    </div>
                </div>
            </div>
        </div>
                
                	
	
	<div th:replace="fragments :: footer"></div>
</body>

</html>