<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head th:replace="fragments :: page_head('PetTaming-Main')" />

<link rel="stylesheet" type="text/css" th:href="@{/css/newAnimalStyle.css}" /> 
<script type="text/javascript" th:src="@{/js/newAnimalJS.js}"></script>
   	<body style="background-color: rgba(red, green, blue, alpha)">
		
		<div th:replace="navigation :: menu"></div>
		
		<header class="mastheader">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">검색 기능도 사용해보세요!</h1>
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" placeholder="Search Text" data-sb-validations="required,email" />
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Search</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div style="display: flex; justify-content: center;">
			<div  id = "Petbigvid">
				<div style="position:absolute; z-index: 1;">
					<table class = "animal_main">
						<tr th:each="action : ${action1.x_axis_line}">
							<div th:each="actionLine : ${action.x_axis}"
							th:switch="${actionLine}">
							
								<td th:case="color_1"
								th:class="${color_1.color}+_box"
								style="height: 20px; width: 20px; "></td>
								
								<td th:case="color_2"
								th:class="${color_2.color}+_box"
								style="height: 20px; width: 20px;"></td>
								
								<td th:case="color_border"
								th:class="${color_border.color}+_box"
								style="height: 20px; width: 20px;"></td>
								
								<td th:case="*"
								th:class="${actionLine}+_box"
								style="height: 20px; width: 20px;"></td>
								
							</div>
						</tr>
					</table>
				</div>
				
				<div style="position:absolute; z-index: 2;" id = "makePet">
					<table class="animal_action">
						<tr th:each="action : ${action2.x_axis_line}">
							<div th:each="actionLine : ${action.x_axis}"
							th:switch="${actionLine}">
							
								<td th:case="color_1"
								th:class="${color_1.color}+_box"
								style="height: 20px; width: 20px; "></td>
								
								<td th:case="color_2"
								th:class="${color_2.color}+_box"
								style="height: 20px; width: 20px;"></td>
								
								<td th:case="color_border"
								th:class="${color_border.color}+_box"
								style="height: 20px; width: 20px;"></td>
								
								<td th:case="*"
								th:class="${actionLine}+_box"
								style="height: 20px; width: 20px;"></td>
								
							</div>
						</tr>
					</table>			
				</div>
			</div>
			<div style="float: left;">
				<form th:action="@{/MainPage/Animal/save}"
				method="POST" th:object="${Animal}" enctype="multipart/form-data">
				
					<input type="hidden" 
					th:field="*{user_id}" />
					
					<input type="hidden" 
					th:field="*{animalid}" />
					
					<input type="hidden" 
					th:field="*{animal_status}" />
					
					<input type="hidden" 
					th:field="*{animal_liking}" />
					
					<input type="hidden" 
					th:field="*{color_1}" />
					
					<input type="hidden" 
					th:field="*{color_2}" />
					
					<input type="hidden" 
					th:field="*{color_border}" />
					
					<input type="hidden" 
					th:field="*{last_Access_time}" />
												
						<label id = "newdesign"><b>펫 이름 :</b>	
							<input type="text" th:field="*{animal_name}" required minlength="2"maxlength="45" />
						</label>
					     <div id = "newButton">
						 <input type="submit" value="나만의 펫 만들기">
				            <a th:href="@{/MainPage/Main}"><input type="button" value="Cancel" id="buttonCancle" /></a>
				         </div>
				         <div style=" clear:both;">
					          <p style="float: left;">동물 선택</p>
							  <div th:each="Animal : ${AllAnimal}" class="animalname">
								  <a type="button"  
								  th:href="@{'/MainPage/Animal/new/animal/' + ${color_1.color_id} + '/' + ${color_2.color_id} + '/' + ${color_border.color_id} + '/' + ${Animal.animalid}}">
								  [[${Animal.animal}]]
								  </a>
							  </div>
				         </div>
					<!-- 색 선택 테이블 -->
			  		<table class="Palette">
			  			<!-- 현제 색을 보여주는 table row -->
			  			<tr>
							<td th:class="${color_2.color} + _box" colspan='12'
							style="height: 50px;">
			  				기본색 : [[${color_2.color}]]
							</td>
			  			</tr>
			  			<tr>
			  				<td th:each="ColorList : ${colorList}" 
			  				th:class="${ColorList.color} + _box" 
			  				style="height: 80px; width: 80px;">
								  <a type="button" 
								  th:href="@{'/MainPage/Animal/new/color_2/' + ${ColorList.color_id} + '/' + ${color_1.color_id} + '/' + ${color_border.color_id} + '/' + ${animalid}}" 
								  name="color" value="${ColorList.color}">
								  [[${ColorList.color}]]
								  </a>
							</td>
			  			</tr>
			  		</table>
			  		
					<hr>
						
					<!-- 색 선택 테이블 -->
			  		<table class="Palette">
			  			<!-- 현제 색을 보여주는 table row -->
			  			<tr>
							<td th:class="${color_1.color}+_box" colspan='12'
							style="height: 50px;">
			  				보조색 : [[${color_1.color}]]
							</td>
			  			</tr>
			  			<tr>
			  				<td th:each="ColorList : ${colorList}" 
			  				th:class="${ColorList.color} + _box" 
			  				style="height: 80px; width: 80px;">
								  <a type="button" 
								  th:href="@{'/MainPage/Animal/new/color_1/' + ${ColorList.color_id} + '/' + ${color_2.color_id} + '/' + ${color_border.color_id} + '/' + ${animalid}}" 
								  name="color" value="${ColorList.color}">
								  [[${ColorList.color}]]
								  </a>
							</td>
							
			  			</tr>
			  		</table>
			  		
					<hr>
						
					<!-- 색 선택 테이블 -->
			  		<table class="Palette">
			  			<!-- 현제 색을 보여주는 table row -->
			  			<tr>
							<td th:class="${color_border.color}+_box" colspan='12'
							style="height: 50px;">
			  				테두리색 : [[${color_border.color}]]
							</td>
			  			</tr>
			  			<tr>
			  				<td th:each="ColorList : ${colorList}"
			  				 th:class="${ColorList.color} + _box" 
			  				 style="height: 80px; width: 80px;">
								  <a type="button" 
								  th:href="@{'/MainPage/Animal/new/color_border/' + ${ColorList.color_id} + '/' + ${color_1.color_id} + '/' + ${color_2.color_id} + '/' + ${animalid}}" 
								  name="color" value="${ColorList.color}">
								  [[${ColorList.color}]]
								  </a>
							</td>
							
			  			</tr>
			  		</table>
				   </form>
			   </div>
        	</div>	
		 <div th:replace="fragments :: footer"></div>
	</body>
</html>