<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('PetTaming-Main')" />
<script type = "text/javascript">
	
   $(document).ready(function(){
	$("#buttonCancle2").on("click",function(){
		window.location = "[[@{/Post/list}]]";
	});
});
</script>
<body>
	<div th:replace="navigation :: menu"></div>		
	<header class="mastheader">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">검색 기능도 사용해보세요!</h1>
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" placeholder="Search Text" data-sb-validations="required,text" />
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Search</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
	
	<div style = "width: 400px; margin: 0 auto; text-align: center;">
			<div class = "container" id = "postCon">
				<form th:action = "@{/MainPage/Post/save}" method = "post" th:object="${Posts}" style = "max-width: 500px; margin:0 auto">
					<div class = "border border-secondary rounded p-3">
					<div class = "form-group row">
						<p>[[${pageTitle}]]</p>
					    <input type = "hidden" th:field = "*{post_id}"/>
					    <input type = "hidden" th:field = "*{user_id}"/>
					    <input type = "hidden" th:field = "*{view}"/>
						<input type = "text" name = "title" th:field = "*{title}" placeholder = "제목" class = "form-control" required />
					</div>
					<br>
					<div class = "form-group row">
						<textarea name = "comntent" th:field = "*{content}" placeholder = "내용을 작성해주세요" class = "form-control"
						rows="20" required />
					</div>
					<br>
					<div class = "text-center">
						<button type = "submit" class = "btn btn-primary"  value = "Save" id = "postsave">저장</input>&nbsp;						
						<button type = "button" class = "btn btn-primary" id="buttonCancle2">취소</button>
					</div>
					</div>
				</form>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>				
	
</body>
</html>